<%= render "shared/notice" %>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<div class="row">

			<div class="col-sm-4">
				<%= gravatar_for @user %>
				<span>
				  <%= @user.name %>
				</span>
			</div>

			<div class="col-sm-8">
				<h1>Microposts</h1>
				<hr>
				<div class="col-sm-2"></div>
				<ul style="list-style: none;">
					<% @user.microposts.each do |micropost| %>
						<li>
					        <p style="font-weight: bold"><%= micropost.content %></p>
					        <p><%= micropost.created_at %></p>
					     	<hr>
					    </li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-2"></div>
</div>

	





